/node_modules
/oh_modules
/local.properties
/entry/src/main/ets/config/AppConfig.local.ets
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.hvigor-user
/.user-home
/.localappdata
/.appdata
/backend/outputs
/backend/data
/backend/.env
*.db
**/__pycache__
